<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    {% if post.banner_image %}
    <div class="banner-image">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}" 
        title="{{ post.title }}">
      <img 
          src="{{ "/assets/images/" | append: post.banner_image | prepend: site.baseurl | prepend: site.url }}" 
          alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h1 class="post-title">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ post.title }}
      </a>
    </h1>

  </article>
  {% endfor %}
</div>

